{% extends 'base.html' %}
{% load static %}
<!-- Doing -->
{% block content %}
<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center">
            <div class="col col-xl-5">
                <div class="card" style="border-radius: 1rem; align-items:center;">
                    <div class="col-md-8 col-lg-10 d-flex">
                        <div class="card-body" style="padding: 40px 0">
                            <h1 style="font-weight: bold; font-size: 20px; margin-bottom: 20px;"> Password Reset Complete </h1>
                            <p> 새 비밀번호가 설정되었습니다. <a href="{% url 'main:login'%}"> 로그인 하러가기 </a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}