/* html css init */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    font-family: system-ui, serif;
    font-size: 2rem;
    padding: 3rem;
    border-radius: 1rem;
    width: 100vh;
}

.content > p {
    cursor:default;
}

button{
    width:35%;
}

input[id="menuicon"] {
    display:none;
    padding:10px;
}

input[id="menuicon"] + label {
    display:block; 
    width:26px;
    height:22px;
    position:fixed;
    right:0;
    top:calc(50%-25px);
    transition:all .35s;
    cursor:pointer;
    margin:29px 29px 0 0;
}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius:30px;
    background:#9e9e9e; 
    transition:all .35s;
}

input[id="menuicon"] + label span:nth-child(1){
    top:0;
}

input[id="menuicon"] + label span:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3){
    bottom:0;
}

input[id="menuicon"]:checked + label {
    z-index:2;
    right:227px;
}

input[id="menuicon"]:checked + label span {
    background:#fff;
}

input[id="menuicon"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2){
    opacity:0;
}

input[id="menuicon"]:checked + label span:nth-child(3){
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

.sidebar {
    width:300px;
    height:100vh;
    background:#708ae8;
    position:fixed;
    top:0;
    right:-300px;
    z-index:1;
    transition:all .35s;
    /* opacity: 0.92; */
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    text-align:center;
    border-left: 1px solid #fff;
}

input[id="menuicon"]:checked + label + div {right:0;}

.nav-links{
    margin-top:46px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-links .link{
    /* margin: 20px 0; */
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

.nav-links>li{
    display: block;
    color: #fff;
    padding: 16px 0;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.nav-links>li:first-child>a{
    margin-top:20px; 
    color: #fff;
    font-size:x-large; 
    text-align:left;
    
}

.nav-links>li:first-child>span{
    color: #fff;
    text-align:left;
}

.nav-login{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-login .link{
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

.nav-login>li{
    display: block;
    color: #fff;
    padding: 16px 0;
    width: 100%;
    border-top: 1px solid #fff;
}