{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/change_password.css' %}">

<section class="change-area">
    <div class="change-card">
        <form action="" method="post" style="text-align: center;" name="change_password" id="change_password">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div>
                <h2 style="cursor:default;">비밀번호 수정</h2>
            </div>
            <div>
                <ul class="password">
                    <li>
                        <p>비밀번호</p>
                        <input type="password" name="old_password" id="old_password" class="form-control" 
                            placeholder="비밀번호" value="{{ form.old_password.value|default_if_none:'' }}"/>
                    </li>
                    <li>
                        <p>새 비밀번호</p>
                        <input type="password" name="new_password1" id="new_password1" class="form-control" 
                            placeholder="새 비밀번호" value="{{ form.new_password1.value|default_if_none:'' }}"/>
                    </li>
                    <li>
                        <p>새 비밀번호 확인</p>
                        <input type="password" name="new_password2" id="new_password2" class="form-control" 
                            placeholder="새 비밀번호 확인" value="{{ form.new_password2.value|default_if_none:'' }}"/>
                    </li>
                </ul>
            </div>
            <button type="submit" class="btn btn-lg btn-block" style="background-color: #708ae8; color:white; width:100%; margin:20px 0;" onclick="btn();">수정완료</button>
        </form>
        <script>
            function btn() 
            {
                var form = document.change_password
                if(form.old_password.value != "" && form.new_password1.value != "" && form.new_password2.value != ""){
                    alert("수정이 완료되었습니다.");
                }
                else{
                    return false;
                }
            }
        </script>
    </div>
</section>
{% endblock %}