{% extends 'base_non_logo.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login-body">
    <div class="float-area">
        {% include "form_errors.html" %}
    </div>
</div>
<div class="container">
    <ul  class="logo-area">
        <li>
            <img src="/static/image/photovle_logo.png" onclick="location.href='{% url 'main:home' %}'">
        </li>
        <li>
            <img src="/static/image/robot.png" alt="login form"/>
        </li>
    </ul>
    <div class="login-area">        
        <form action="{% url 'main:login' %}" method='POST'>
            {% csrf_token %}
            <ul class="login-div">
                <li>
                    <h2 class="login-title" style="cursor:default;">로그인</h2>
                    <span>이미지 레이블링 보조 작업자</span>
                </li>
                <li>
                    <div>
                        <label class="form-title" style="margin-top: 28px;">이메일</label>
                        <input type="text" id="input1" name="username" class="input-control" style="border-radius: none;"
                            value="{{ form.username.value|default_if_none:'' }}" placeholder="이메일을 입력하시오."/>
                    </div>
                </li>
                <li>
                    <div>
                        <label class="form-title" for="form2Example27">비밀번호</label>
                        <input type="password" id="input2" name="password" class="input-control" style="border-radius: none;"
                            value="{{ form.password.value|default_if_none:'' }}" placeholder="비밀번호를 입력하시오."/>
                    </div>
                </li>

                <li style="margin-top:6px;">
                    <a class="small text-muted" style="color:#708AE8; text-decoration:none;" href="{% url 'password_reset' %}">비밀번호를 잊어버리셨나요?</a>
                </li>
                <li class="login-btn">
                    <button type="submit" style="background-color: #708ae8; color:white; width:100%; " value='Login'>로그인</button>
                </li>
                <li  class="kakao-btn">
                    <img src="/static/image/kakao_login_real.png" onclick="location.href='{% url 'main:kakao_login' %}'"></a>
                </li>
                <li>
                    <div style="text-align:center">
                        <p class="mb-5 pb-lg-2" style="color: #393f81; cursor:default;margin-top:12px;">계정이 없으신가요? <a href="{% url 'main:signup' %}"
                            style="color: #393f81;">회원가입</a></p>
                        </div>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock %}