{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chromakey{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/osvos.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="canvas-body">
        
        <div class="control-bar">
            <!-- step1 -->
            <div id='step1'>
                <div class="step1" id="step1">
                    <img src="/static/image/icon_camera.png" onclick="">
                    <p>편집할 동영상이 없습니다.</p>
                    <div class="input-file">
                        <label for="upload_video" class="file-label">파일 업로드</label>
                        <input id="upload_video" type="file" accept="video/mp4,video/mkv, video/x-m4v,video/*">
                    </div>
                </div>
            </div>
            <!-- step2 -->
            <div class="step2" id="step2" style="display: none;">
                <video id="video" style="display: none;"></video>
                <div class="infomation-area" style="cursor:default;">
                    <h3>영상 정보</h3>
                    <ul>
                        <li>
                            <span>File Name : </span>
                            <p id="file_name"></p>
                        </li>
                        <li>
                            <span>Object : </span>
                            <div class="edit-label-name">
                                <p id="label_name"></p>
                                <img src="/static/image/icon_edit.svg" class="btn-open-popup">
                            </div>
                        </li>
                        <li>
                            <span>Total Frame : </span>
                            <p id="file_frame">0</p>
                        </li>
                        <li>
                            <span>Now Frame : </span>
                            <p id="label_now"></p>
                        </li>
                        <li>
                            <span>Size : </span>
                            <p id="file_size"></p>
                        </li>
                        <li>
                            <span>Type : </span>
                            <p id="file_type"></p>
                        </li>
                    </ul>
                </div>
                <div class="label-add">
                    <select disabled style="display: none;"></select>
                </div>
                <!-- 여러 설정 바 -->
                <div class="control-bar-option-area">
                    <img src="/static/image/icon_train_data.svg" onclick="labelTag()">
                </div>
                <!-- 이미지 프레임 목록 -->
                <div id="image-area">
                    <ul id="image-list"></ul>
                </div>
            </div>

            <!-- step3 -->
            <div class="step3" id="step3" style="display: none;">
                <video id="video" style="display: none;"></video>
                <div class="infomation-area" style="cursor:default;">
                    <h3>모자이크가 제대로 됬는지 확인해주세요</h3>
                    <ul>
                        <li>
                            <span>File Name : </span>
                            <p id="file_name"></p>
                        </li>
                        <li>
                            <span>Object : </span>
                            <div class="edit-label-name">
                                <p id="label_name"></p>
                                <img src="/static/image/icon_edit.svg" class="btn-open-popup">
                            </div>
                        </li>
                        <li>
                            <span>Total Frame : </span>
                            <p id="file_frame">0</p>
                        </li>
                        <li>
                            <span>Now Frame : </span>
                            <p id="label_now"></p>
                        </li>
                        <li>
                            <span>Size : </span>
                            <p id="file_size"></p>
                        </li>
                        <li>
                            <span>Type : </span>
                            <p id="file_type"></p>
                        </li>
                    </ul>
                </div>
                <div class="label-add">
                    <select disabled style="display: none;"></select>
                </div>
                <!-- 여러 설정 바 -->
                <div class="control-bar-option-area">
                    <img src="/static/image/icon_video2.svg" onclick="predictvideo()">
                </div>
                <!-- 이미지 프레임 목록 -->
                <div id="image-area-predicted">
                    <ul id="image-list-predicted"></ul>
                </div>
            </div>
        </div>

        <!-- Object 수정 모달 -->
        <div class="modal">
            <div class="modal_body">
                <div class="title">
                    <h2>Object Label Title</h2>
                </div>
                <div class="content">
                    <div class="preview">
                        <p>Label Name : </p>
                        <input type="text" id="label_tag" placeholder="입력해주세요.">
                    </div>
                    <div class="model-control">
                        <button type="button" class="close-area">취소</button>
                        <button type="button" onclick="define_tag();">확인</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Launch demo modal
        </button>
                <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style = "z-index : 1060" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div id="exampleModalLongTitle">
                            <p class = "modal_main_title">대상 선택</p>
                            <p class = "modal_sub_title">원하는 대상이 잘 보이는 이미지를 선택하세요.</p>
                        </div>
                        {% comment %} <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button> {% endcomment %}
                    </div>
                    <div class="modal-body" id="recommend_body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="re_recommend" data-dismiss="modal">다시 추천받기</button>
                        <button type="button" class="done">선택 완료</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 그림판 영역 -->
        <div class="edit-bar" >
            <div id="toolbara">
                <div class = "imgbox">
                    <img src="/static/image/emoji_pencil.svg" id="my-pencil">
                </div>
                <div class = "imgbox">
                    <img src="/static/image/emoji_hand.svg" id="my-hand" onclick="handImage()">
                </div>
                <div class = "imgbox">
                    <img src="/static/image/emoji_eraser.svg" id="my-eraser"  onclick="eraserImage()" >
                </div>
                <div class = "imgbox">
                    <img src="/static/image/emoji_wastebasket.svg" id="clear">
                </div>
                <div id="rad">
                    <div class = "cradbox">
                        <div id="incrad" class="radcontrol"> + </div>
                    </div>
                    <span id="radval">15</span>
                    <div class = "cradbox">
                        <div id="decrad" class="radcontrol"> - </div>
                    </div>
                </div>
                <div id="colors"></div>
                <div class = "imgbox">
                <img src="/static/image/icon_downloads.svg" id="save">
                </div>
            </div>
            <div class="edit-bar" style="position: relative;">    
                <div id="mouse-cursor" style="position: absolute; z-index: 3; cursor: none; pointer-events: none; border-radius: 50%; display: none">
                    <img id = "hand-cursor" src= "/static/image/emoji_hand.svg" style = "position: absolute; z-index: 4;">
                </div>
                <canvas id="imgViewer" style="position: absolute; z-index: 1;"></canvas>
                <ul id="drawAreaStack" style="position: absolute; z-index: 2;"></ul>
                <!-- <canvas id="drawArea" style="position: absolute; z-index: 2; "></canvas>             -->
            </div>
        </div>

        <!-- 대기버튼 -->
        <div class="loading" id="loading-area">        
            <div class="loadingio-spinner-spinner-68z6bjaawxu"><div class="ldio-2u11u1n92kj">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                </div></div>

            <p id="loading-text">잠시만 기다려주세요.</p>
        <div>
               
    </div>
    
    <script>
        var user_id = {{ user.id }}
        var user_phone = {{ user.phone }}
    </script>
    <script type="text/javascript" src="{% static 'js/osvos.js' %}"> </script>
</body>
</html>
{% endblock %}