{% extends 'base_non_logo.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<div class="signup-body">
    <div class="float-area">
        {% include "form_errors.html" %}
    </div>
</div>
<section class="signup-area">
    <div class="signup-card">
        <form method="POST" class="post-form" action="{% url 'main:signup' %}">
            {% csrf_token %}
            <div>
                <h2 class="signup-title" style="cursor:default">회원가입</h2>
            </div>      
            <div class="signup-name">
                <label class="label" for="form2Example27">이름</label>
                <input type="text" name="name" id="name" value="{{ name }}" class="form-control" placeholder="이름을 입력하시오."/>
            </div>
            <div>
                <label class="label" for="form2Example27">아이디</label>
                <input type="text" name="username" id="username" value="{{ username }}" class="form-control" placeholder="아이디를 입력하시오."/>
            </div>  
            <div>
                <label class="label" for="form2Example27">비밀번호</label>
                <input type="password" name="password1" id="password1" class="form-control" placeholder="비밀번호를 입력하시오."/>
            </div>
            <div>
                <label class="label" for="form2Example27">비밀번호 확인</label>
                <input type="password" name="password2" id="password2" class="form-control" placeholder="비밀번호를 한번 더 입력하시오."/>
            </div>
            <div>
                <label class="label" for="form2Example27">전화번호</label>
                <input type="text" name="phone" id="phone" value="{{ phone }}" class="form-control" placeholder="전화번호를 입력하시오."/>
            </div>
            <div>
                <label class="label" for="form2Example27">이메일</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="이메일을 입력하시오."/>
            </div>
            <div class="pt-1 mb-4 d-grid gap-2" style="margin-top: 20px;">
                <button class="btn btn-lg btn-block" type="submit" style="background-color: #708ae8; color:white; width:100%">회원등록</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}