{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/write.css' %}">
<!DOCTYPE html>

<div class="write-area">
	<div class="container">
		<div>
			<h2>글쓰기</h2>
		</div>
		<form method="POST" action="{% url 'main:write' %}" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
				<label for="subject" style="text-align:left; padding:10px">제목</label>
				<input type="text" class="form-control" name="title" id="title" value="{{ board.title }}" placeholder="제목을 입력해주세요."/>
			</div>
			<div class="form-group">
				<label for="content" style="text-align:left; padding:10px">내용</label>
				<textarea class="form-control" name="content" id="content" rows="10" placeholder="내용을 입력해주세요.">{{ board.content }}</textarea>
			</div>
			<div class="from-group" style="padding:10px">
				<label for="upload_files">
					<input type="file" id="upload_files" name="upload_files" accept="image/*" onchange="loadFile(this)">
				</label>
			</div>
			<div style="text-align:right;">
				<button type="submit" class="base-button" style="background-color: #708ae8; border:none;">등록</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}